.pizza-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}

.pizza-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pizza-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
  min-height: 50px;
}

img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}

.pizza-content {
  flex-grow: 1;
}

.description {
  max-height: 40px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .pizza-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .pizza-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .pizza-list {
    grid-template-columns: 1fr;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.description {
  font-size: 1rem;
  margin: 0;
}

.price {
  font-size: 1rem;
  margin-right: 10px;
  flex-shrink: 0;
}

button {
  padding: 10px 15px;
  background-color: #b50006;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.pizza-item button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #b50006;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pizza-item button:hover {
  background-color: #686868;
}
